@import "tailwindcss";

:root {
  --background: #020b11;
  --foreground: #dbf2d4;
  --focus: #fe9246;
  --green: #85cc65;
  --blue: #58c9b4;
  --dark-blue: #134366;
  --font-poppins: var(--font-poppins);
  --font-nunito: "Nunito Sans", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-nunito), sans-serif;
  perspective: 1000px;
  overflow-x: hidden;
}

.monument-image {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  will-change: transform, opacity;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}

.monument-image.entering {
  transform: translateY(100%) rotate(-180deg);
  animation: fadeReveal 1s cubic-bezier(.41,.02,.62,1) forwards;
  opacity: 0;
  filter: blur(5px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.text-content,
[class*="text-effect"],
.text-container {
  position: relative;
  z-index: 10;
  color: white;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.monument-image.visible {
  transform: translateZ(0) translateY(0) scale(1) rotate(0deg);;
  opacity: 1;
  filter: blur(0);
}

.monument-image.exiting {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  animation: fadeAway 1s cubic-bezier(.62,0,.41,.98) forwards;
}

@keyframes fadeReveal {
  0% {
    transform: translateY(150%) rotate(-180deg);
    filter: blur(5px);
    opacity: 0;
  }
  100% {
    transform: translateY(0) rotate(0deg);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes fadeAway {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    filter: blur(0);
  }
  100% {
    transform: translateY(-100%) rotate(180deg);
    opacity: 0;
    filter: blur(8px);
  }
}

@layer components {
  .link {
    @apply hover:text-[var(--focus)];
  }
}
